# Conviction Rate From Virginia Court Data
   ## 06/28/2022

In [3]:
from sqlalchemy import create_engine
import psycopg2 as db
import pandas as pd
import numpy as np
import os

In [4]:
postPass=os.environ["POSTGRES_PASS"]

In [5]:
engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
.format(user="jupyter", pw=postPass, db="expunge"))

# Conviction by race and fips

In [6]:
con_query = """
SELECT race, c.fips, code_section, COUNT(*) AS con_people, f.locality
FROM charges c
LEFT JOIN fips f
    ON CAST(c.fips AS INT) = f.fips
WHERE disposition_code='Guilty' OR disposition_code='Guilty In Absentia'

GROUP BY race, c.fips, code_section, f.locality
ORDER BY con_people desc

"""

convictions = pd.read_sql(con_query, con=engine)

In [7]:
convictions

         race fips code_section  con_people     locality
0       White  081   A.46.2-862       56336  Greensville
1       White  059     46.2-300       35478      Fairfax
2       Black  087   B.46.2-301       30035      Henrico
3       Black  081   A.46.2-862       29580  Greensville
4       White  183   A.46.2-862       24341       Sussex
...       ...  ...          ...         ...          ...
149641  White  711      34.1-66           1      Norfolk
149642  White  711       34.2-1           1      Norfolk
149643  White  197    46.2-1020           1        Wythe
149644  White  711   34.2-3 (1)           1      Norfolk
149645  White  711   34.2-3 (2)           1      Norfolk

[149646 rows x 5 columns]

# Charge by race and fips

In [8]:
charged_query = """
SELECT race, c.fips, code_section, COUNT(*) AS charged_people, f.locality
FROM charges c
LEFT JOIN fips f
    ON CAST (c.fips AS INT) = f.fips


GROUP BY race, c.fips, code_section, f.locality
ORDER BY charged_people desc

"""

charged = pd.read_sql(charged_query, con=engine)

In [9]:
charged

         race fips    code_section  charged_people                 locality
0       White  081      A.46.2-862           57081              Greensville
1       White  059        46.2-300           53073                  Fairfax
2       White  059      B.46.2-301           36960                  Fairfax
3       Black  087      B.46.2-301           32739                  Henrico
4       Black  081      A.46.2-862           29946              Greensville
...       ...  ...             ...             ...                      ...
196741  White  840    18.2-57.2(A)               1               Winchester
196742  White  830  4VAC2028030(C)               1  Williamsburg/James City
196743  White  830    4VAC20140225               1  Williamsburg/James City
196744  White  830   4VAC20-880-30               1  Williamsburg/James City
196745  White  840       18.2-60.5               1               Winchester

[196746 rows x 5 columns]

# Table with Convicted people and Charged people by race and fips

In [10]:
con_charge_table = pd.merge(convictions, charged, on=['race', 'fips', 'code_section', 'locality'])

In [11]:
con_charge_table

         race fips code_section  con_people     locality  charged_people
0       White  081   A.46.2-862       56336  Greensville           57081
1       White  059     46.2-300       35478      Fairfax           53073
2       Black  087   B.46.2-301       30035      Henrico           32739
3       Black  081   A.46.2-862       29580  Greensville           29946
4       White  183   A.46.2-862       24341       Sussex           24636
...       ...  ...          ...         ...          ...             ...
149641  White  711      34.1-66           1      Norfolk               2
149642  White  711       34.2-1           1      Norfolk               1
149643  White  197    46.2-1020           1        Wythe               1
149644  White  711   34.2-3 (1)           1      Norfolk               1
149645  White  711   34.2-3 (2)           1      Norfolk               2

[149646 rows x 6 columns]

# Table with Conviction Rate by race and fips

In [ ]:
rate = rate.assign(con_rate = rate.con_people/ rate.charged_people)

In [13]:
rate.query("charged_people > 10000").sort_values(by='conv_rate', ascending = False)
nontraffic = ['46.' not in x for x in rate['code_section']]
rate.loc[nontraffic].query("charged_people > 500").sort_values(by='conv_rate', ascending = False)

NameError: name 'rate' is not defined