This notebook was created by Jon
Update: 7/15

In [1]:
from sqlalchemy import create_engine
import psycopg2 as db
import pandas as pd
import numpy as np
import os

In [2]:
postPass=os.environ["POSTGRES_PASS"]

In [3]:
engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="jupyter", pw=postPass, db="expunge"))

In [5]:
myquery = """
SELECT * from charges
"""
charges = pd.read_sql_query(myquery, con=engine)

In [16]:
count1 = charges.groupby(['code_section','fips']).size().reset_index()
count1.columns = ['code_section', 'fips', 'count']
count1
count2 = count1.groupby('code_section').agg({'count':'max'}).reset_index()
count2.columns = ['code_section', 'max_count']
count3  = pd.merge(count1, count2, on='code_section')
count3 = count3.query('count==max_count')

In [18]:
count3 = count3[['code_section', 'fips']]
count3.columns = ['code_section', 'max_fips']
count3

           code_section max_fips
0            # 00678-DP      700
1             #59306-06      700
2          (62.2)62-188      067
3         (74-4) 26-123      550
4           (74-4)26-12      550
...                 ...      ...
109451    ZONING 212(C)      810
109452      ZONING 33-3      730
109453   ZONING CHAP 25      711
109454  ZONING: 1001(A)      810
109455         `8.2-168      183

[31077 rows x 2 columns]

In [20]:
count3.to_sql('maxfips', index=False, chunksize=1000, if_exists='replace', con=engine)