## Relevant SQL Tables

charges
fips
disparity
disparity_va

In [1]:
from sqlalchemy import create_engine
import psycopg2 as db
import pandas as pd
import numpy as np
import os


postPass = os.environ["POSTGRES_PASS"]


engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                      .format(user="jupyter", pw=postPass, db="expunge"))
engine.table_names()

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:13: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  del sys.path[0]

['fips_subset_20220211',
 'ids_10k_sample',
 'data_1k_sample',
 'data_10k_sample',
 'data_100k_sample',
 'ids_1k_sample',
 'ids_100k_sample',
 'expunge',
 'outcomes',
 'test_table_jupyter_linshavers',
 'hypotheticals_100k',
 'full_table_shorter_wait',
 'fips-subset-2022-02-11-default',
 'full_table_default',
 'full_table_no_lifetime_shorter_wait',
 'full_table_misd_5',
 'full_table_misd_5_no_lifetime',
 'full_table_no_lifetime',
 'charges',
 'runs',
 'expunge_features',
 'features',
 'disparity',
 'districtfips',
 'fips',
 'expunge_results_10k',
 'convictions',
 'census',
 'census_long',
 'maxfips',
 'census_va',
 'disparity_va',
 'conviction_rate']

Should there be a min number of charges per fips to check validity of results?

Report mostly by Black and Hispanic, other minorities have too small a sample size to give accurate results

In [13]:
myquery = """
SELECT *
FROM census_long
LIMIT 100
"""

result = pd.read_sql(myquery, con = engine)

In [14]:
result

    FIPS          Jurisdiction  total_pop   race  population  proportion
0      1       Accomack County    32316.0  White     21899.0    0.677652
1      3      Albemarle County   109330.0  White     89388.0    0.817598
2      5      Alleghany County    14860.0  White     13783.0    0.927524
3      7         Amelia County    13145.0  White     10050.0    0.764549
4      9        Amherst County    31605.0  White     24299.0    0.768834
..   ...                   ...        ...    ...         ...         ...
95   510       Alexandria city   159428.0  White    106329.0    0.666941
96   520          Bristol city    16762.0  White     15058.0    0.898341
97   530      Buena Vista city     6478.0  White      5856.0    0.903983
98   540  Charlottesville city    47266.0  White     33435.0    0.707380
99   550       Chesapeake city   244835.0  White    150828.0    0.616039

[100 rows x 6 columns]

## All Races Included

In [23]:
myquery = """
WITH byrace AS (
    SELECT 
        fips
        , race
        , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_race 
    FROM charges
    GROUP BY fips, race)
,
overall AS (
    SELECT 
    fips
    , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_overall
    FROM charges
    GROUP BY fips)
    
SELECT 
    b.fips
    , b.race
    , b.distinct_count_race
    , l.proportion
    , o.distinct_count_overall
    , (b.distinct_count_race/o.distinct_count_overall)/CAST(l.proportion AS DECIMAL) AS disparity_index
FROM byrace b
INNER JOIN overall o
ON b.fips = o.fips
INNER JOIN census_long l
ON b.race = l.race
AND CAST(l."FIPS" AS INT) = CAST(b.fips AS INT)
WHERE distinct_count_overall > 1000
ORDER BY disparity_index DESC
"""

result = pd.read_sql(myquery, con = engine)

In [26]:
result['race'].value_counts()

Unknown                      250
White                        125
Hispanic                     125
Asian or Pacific Islander    125
Black                        125
Name: race, dtype: int64

## Just Black and Hispanic, Regardless of Code Sections

In [28]:
hbquery = """
WITH byrace AS (
    SELECT 
        fips
        , race
        , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_race 
    FROM charges
    GROUP BY fips, race)
,
overall AS (
    SELECT 
    fips
    , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_overall
    FROM charges
    GROUP BY fips)
    
SELECT 
    b.fips
    , b.race
    , b.distinct_count_race
    , l.proportion
    , o.distinct_count_overall
    , (b.distinct_count_race/o.distinct_count_overall)/CAST(l.proportion AS DECIMAL) AS disparity_index
FROM byrace b
INNER JOIN overall o
ON b.fips = o.fips
INNER JOIN census_long l
ON b.race = l.race
AND CAST(l."FIPS" AS INT) = CAST(b.fips AS INT)
WHERE o.distinct_count_overall > 1000
AND (b.race = 'Black' OR b.race = 'Hispanic')
ORDER BY disparity_index DESC
"""

result = pd.read_sql(hbquery, con = engine)

In [31]:
result.head(20)

,fips,race,distinct_count_race,proportion,distinct_count_overall,disparity_index
0,035,Black,5345.0,0.008828,36308.0,16.675341
1,173,Black,7669.0,0.024847,52339.0,5.897065
2,023,Black,5070.0,0.032706,27753.0,5.585619
3,197,Black,8749.0,0.029738,53349.0,5.514712
4,191,Black,2554.0,0.015184,30996.0,5.426537
5,163,Black,7417.0,0.033048,43878.0,5.114838
6,171,Black,4130.0,0.029095,27757.0,5.114012
7,045,Black,45.0,0.004483,2041.0,4.918625
8,165,Black,6342.0,0.025406,55989.0,4.458422
9,021,Black,3096.0,0.039809,17471.0,4.451464
10,085,Black,33856.0,0.095243,80504.0,4.415535
11,013,Black,42626.0,0.096782,101360.0,4.345244
12,021,Hispanic,652.0,0.009873,17471.0,3.780052
13,169,Black,495.0,0.009135,14509.0,3.734832
14,071,Black,516.0,0.015969,8887.0,3.635964
15,191,Hispanic,1785.0,0.016319,30996.0,3.528829
16,023,Hispanic,1705.0,0.017535,27753.0,3.503566
17,173,Hispanic,3684.0,0.020097,52339.0,3.502378
18,077,Hispanic,913.0,0.038264,6943.0,3.436664
19,610,Black,1251.0,0.048437,7555.0,3.418596

### Just Black Disparity Indices

In [35]:
black_query = """
WITH byrace AS (
    SELECT 
        fips
        , race
        , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_race 
    FROM charges
    GROUP BY fips, race)
,
overall AS (
    SELECT 
    fips
    , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_overall
    FROM charges
    GROUP BY fips)
    
SELECT 
    b.fips
    , b.race
    , b.distinct_count_race
    , l.proportion
    , o.distinct_count_overall
    , (b.distinct_count_race/o.distinct_count_overall)/CAST(l.proportion AS DECIMAL) AS disparity_index
FROM byrace b
INNER JOIN overall o
ON b.fips = o.fips
INNER JOIN census_long l
ON b.race = l.race
AND CAST(l."FIPS" AS INT) = CAST(b.fips AS INT)
WHERE o.distinct_count_overall > 1000
AND (b.race = 'Black')
ORDER BY disparity_index DESC
"""

result_black = pd.read_sql(black_query, con = engine)

In [36]:
result_black

,fips,race,distinct_count_race,proportion,distinct_count_overall,disparity_index
0,035,Black,5345.0,0.008828,36308.0,16.675341
1,173,Black,7669.0,0.024847,52339.0,5.897065
2,023,Black,5070.0,0.032706,27753.0,5.585619
3,197,Black,8749.0,0.029738,53349.0,5.514712
4,191,Black,2554.0,0.015184,30996.0,5.426537
...,...,...,...,...,...,...
120,183,Black,25298.0,0.561251,65433.0,0.688862
121,595,Black,12384.0,0.651889,30527.0,0.622305
122,081,Black,36470.0,0.601888,114129.0,0.530914
123,105,Black,121.0,0.037228,8656.0,0.375486
124,027,Black,82.0,0.033803,8298.0,0.292337

### Just Hispanic Disparity Indices

In [ ]:
hispanic_query = """
WITH byrace AS (
    SELECT 
        fips
        , race
        , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_race 
    FROM charges
    GROUP BY fips, race)
,
overall AS (
    SELECT 
    fips
    , CAST(COUNT(DISTINCT(person_id)) AS DECIMAL) AS distinct_count_overall
    FROM charges
    GROUP BY fips)
    
SELECT 
    b.fips
    , b.race
    , b.distinct_count_race
    , l.proportion
    , o.distinct_count_overall
    , (b.distinct_count_race/o.distinct_count_overall)/CAST(l.proportion AS DECIMAL) AS disparity_index
FROM byrace b
INNER JOIN overall o
ON b.fips = o.fips
INNER JOIN census_long l
ON b.race = l.race
AND CAST(l."FIPS" AS INT) = CAST(b.fips AS INT)
WHERE o.distinct_count_overall > 1000
AND (b.race = 'Hispanic')
ORDER BY disparity_index DESC
"""

result_black = pd.read_sql(hispanic_query, con = engine)